.reverbPedal {
    background: darkgrey;
    border: 1px solid black;
    border-radius: 5px;
    height: 250px;
    width: 14%;
    display: flex;
    flex-direction: column;
    padding: 1%;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 0 1% 1% 1%;
}